<section class="pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="float-end mb-5">
          <button
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            (click)="clickAddStudent()"
          >
            <i class="fa-solid fa-plus me-2"></i>Add Students
          </button>
        </div>
        <div class="table-responsive w-100">
          <table datatable [dtOptions]="dtOptions" class="table table-responsive-xl table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Fees</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let student of studentData">
                <td>{{ student.id }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.phone }}</td>
                <td>{{ student.fees }}</td>
                <td>
                  <a
                    href=""
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    title="Edit"
                    (click)="onEdit(student)"
                    class="btn btn-primary btn-sm me-2"
                    ><i class="fa-regular fa-pen-to-square"></i
                  ></a>
                  <a
                    href=""
                    title="Delete"
                    (click)="deleteStudents(student)"
                    class="btn btn-danger btn-sm"
                  >
                    <i class="fa-regular fa-trash-can"></i
                  ></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Student Details</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="name" />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" formControlName="email" />
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" class="form-control" formControlName="phone" />
          </div>
          <div class="mb-3">
            <label for="fee" class="form-label">Fees</label>
            <input type="text" class="form-control" formControlName="fees" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          id="cancel"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button
          type="button"
          *ngIf="showAdd"
          (click)="postStudentDetails()"
          class="btn btn-primary"
        >
          Add
        </button>
        <button
          type="button"
          *ngIf="showUpdate"
          (click)="updateStudentDetails()"
          class="btn btn-warning"
        >
          Update
        </button>
      </div>
    </div>
  </div>
</div>
